<!DOCTYPE html>
<html>

<body>
<h2>This application plots the closing ticker data for a stock for one month.</h2>


<h3>Enter info below</h3>

<form id='home_page_form' method='post' action='plot' >
    <p>
        Stock ticker ID: <input type='text' name='input_symbol' />
    </p>
    <p>
        Month: <input type='text' name='input_month' />
    </p>
    <p>
        Year: <input type='text' name='input_year' />
    </p>
    <p>
        <input type='submit' value='Go!' />
    </p>
</form>

</body>

</html>
