<!DOCTYPE html>
<html>

<body>
<h1>Heading 1 looks like this.</h1>
<p>I'll start a paragraph here.</p>
<p>And then another one here.</p>

<h2>And then we have heading 2.</h2>
<p>With a paragraph underneath.</p>

<h1>What does it look like if I go back to heading 1?</h1>

<h2>Let's try a link to the user input page.</h2>

    <a href="/user_input">Input page</a>

<h2>Here's a form.</h2>

<form id='stock_ticker_input' method='post' action='user_input' >
    <p>
        Ticker: <input type='text' name='ticker_id' />
    </p>
    <p>
        <input type='submit' value='Go!' />
    </p>
</form>

<a href="/plot">Link to plot</a>

</body>

</html>
